{{ header_comment }}

package com.sobel.android.tpmsigningservice;

import java.math.BigInteger;

import com.android.org.bouncycastle.asn1.pkcs.RSAPrivateKey;
import com.android.org.bouncycastle.asn1.pkcs.RSAPublicKey;

public class FakeTPMAIK {
	public final static BigInteger modulus = new BigInteger("{{ modulus }}");
	public final static BigInteger publicExponent = new BigInteger("{{ publicExponent }}");
	public final static BigInteger privateExponent = new BigInteger("{{ privateExponent }}");
	public final static BigInteger prime1 = new BigInteger("{{ prime1 }}");
	public final static BigInteger prime2 = new BigInteger("{{ prime2 }}");
	public final static BigInteger exponent1 = new BigInteger("{{ exponent1 }}");
	public final static BigInteger exponent2 = new BigInteger("{{ exponent2 }}");
	public final static BigInteger coeffcient = new BigInteger("{{ coefficient }}");

	public final static RSAPrivateKey toRSAPrivateKey() {
		return new RSAPrivateKey(modulus, publicExponent, privateExponent,
				prime1, prime2, exponent1, exponent2, coeffcient);
	}
	
	public final static RSAPublicKey toRSAPublicKey() {
		return new RSAPublicKey(modulus, publicExponent);
	}
}
